<a href="https://colab.research.google.com/github/sebacea/AnEco2/blob/master/TallerComplejidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Complejidad

Este notebook introduce un ejercicio de cálculo de ventaja comparativa comunal con información extraída de [datachile.io](http://datachile.io). A través del ejercicio se pretenden responder:

- ¿Cuáles son las ventajas comparativas en productos en la comuna de Valparaíso? 
- ¿Cuáles son las comunas de Chile con mayor nivel de ventajas comparativas en áreas tecnológicas?

## Referencias

- [Glosario de términos de complejidad económica](http://atlas.cid.harvard.edu/learn/glossary)
- [Hartmann et ali - Linking Economic Complexity, Institutions, and Income Inequality (2017)](https://www.sciencedirect.com/science/article/pii/S0305750X15309876?via%3Dihub)
- [Hidalgo et ali - The Product Space Conditions the
Development of Nations (2007)](http://sci-hub.tw/10.1126/science.1144581)
- [Hidalgo and Hausmann - A Network view of economic development (2008)](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.544.5939&rep=rep1&type=pdf)

## Librerías específicas

- [Product Space Calculations](https://github.com/alexandersimoes/ps_calcs/tree/master/ps_calcs)

In [0]:
import pandas as pd
import requests

Obtenemos datos desde la [API](https://es.wikipedia.org/wiki/Interfaz_de_programaci%C3%B3n_de_aplicaciones) de [DataChile](http://datachile.io). En este caso, obtenemos el valor de las Exportaciones ([FOB](https://es.wikipedia.org/wiki/Free_on_board) US) clasificados por el [sistema harmonizado](https://atlas.media.mit.edu/es/profile/country/chl/) HS0 a nivel comunal.

In [0]:
data = requests.get("https://es.datachile.io/api/data?measures=FOB US&drilldowns=HS0,Comuna,Year&captions=es&parents=true").json()

Convertimos los datos provenientes de la [API](https://es.wikipedia.org/wiki/Interfaz_de_programaci%C3%B3n_de_aplicaciones) de [DataChile](http://datachile.io) en un DataFrame que denotaremos "df"

In [0]:
df = pd.DataFrame(data["data"])

Inspeccionamos el DataFrame para tener una idea de la estructura de los datos brutos:

In [0]:
df.head()

        Comuna        FOB US  ...       Region  Year
0      Iquique  1.331382e+06  ...     Tarapacá  2016
1  Antofagasta  4.531883e+06  ...  Antofagasta  2016
2       Calama  9.660000e+02  ...  Antofagasta  2016
3      Caldera  1.099919e+06  ...      Atacama  2016
4      Copiapó  3.370124e+05  ...      Atacama  2016

[5 rows x 9 columns]

Filtramos los resultados de los datos para concentrarnos en la V región

In [0]:
df = df[df["ID Region"] == 5]

Volvemos a inspeccionar los datos, ahora filtrados para la región de Valparaíso:

In [0]:
df.head()

        Comuna       FOB US  ...      Region  Year
8    Cartagena   155358.000  ...  Valparaíso  2016
9   Casablanca   222165.000  ...  Valparaíso  2016
10     Con Cón  2200129.500  ...  Valparaíso  2016
11    La Ligua   100680.000  ...  Valparaíso  2016
12   Llay Llay  1056950.625  ...  Valparaíso  2016

[5 rows x 9 columns]

Reiniciamos el índice del DataFrame (la primera columna que no tiene etiqueta de nombre) e inspeccionamos como queda el DataFrame

In [0]:
df = df.reset_index()
df.head()

   index      Comuna       FOB US  ... ID Year      Region  Year
0      8   Cartagena   155358.000  ...    2016  Valparaíso  2016
1      9  Casablanca   222165.000  ...    2016  Valparaíso  2016
2     10     Con Cón  2200129.500  ...    2016  Valparaíso  2016
3     11    La Ligua   100680.000  ...    2016  Valparaíso  2016
4     12   Llay Llay  1056950.625  ...    2016  Valparaíso  2016

[5 rows x 10 columns]

Calculamos la tasa de crecimiento de las exportaciones

In [0]:
tasa_crecimiento = df.sort_values(["Year", "Comuna", "HS0"]).groupby(["Comuna", "HS0"]).sum().pct_change()["FOB US"].reset_index()

Vemos el top 10 de las exportaciones con mayor tasa de crecimiento en la comuna específica de Valparaíso.

In [0]:
tasa_crecimiento[tasa_crecimiento["Comuna"] == "Valparaiso"].sort_values("FOB US", ascending=False).head(10)

         Comuna                         HS0       FOB US
240  Valparaiso         Artículos de Madera  3504.916321
244  Valparaiso                     Metales  2553.638074
248  Valparaiso          Pieles de animales   468.148867
258  Valparaiso                  Transporte    83.169437
249  Valparaiso         Plásticos y Cauchos    17.646805
242  Valparaiso                     Diverso    10.248870
252  Valparaiso      Productos alimenticios     8.793369
253  Valparaiso  Productos de Origen Animal     3.041363
250  Valparaiso         Productos Minerales     2.288546
243  Valparaiso                Instrumentos     1.704584

Definimos la función que calcula la RCA para cada comuna $c$ dentro del conjunto de comunas $C$y sector $h$ dentro del conjunto de sectores $H$ de acuerdo a la siguiente formula

$$RCA_{c,h}=\frac{\frac{FOB_{c,h}}{\sum_{h'\in H}FOB_{c,h'}}}{\frac{\sum_{c'\in C}FOB_{c',h}}{\sum_{c'\in C, h'\in H}FOB_{c',h'}}},$$

donde $RCA_{c,h}$ es la $RCA$ de la comuna $c$ para el sector $h$ y $FOB_{c,h}$ es el valor de exportaciones $FOB$ de la comuna $c$ para el sector $h$.

Se le deben entregar 4 niveles de información a la función: Producto, Nivel Geográfico, Dimensión de Tiempo y sobre qué métrica se calculará (en este caso valor FOB US de exportaciones)

In [0]:
# Importamos librería para cálculos básicos
import numpy as np
# Definimos función que calcula RCA
def rca(tbl):
  
    tbl = tbl.fillna(0)
    col_sums = tbl.sum(axis=1)

    col_sums = col_sums.values.reshape((len(col_sums), 1))
    rca_numerator = np.divide(tbl, col_sums)

    row_sums = tbl.sum(axis=0)

    total_sum = tbl.sum().sum()
    rca_denominator = row_sums / total_sum

    rcas = rca_numerator / rca_denominator
    # Entregamos RCA por comuna y clasificación HS0
    return rcas

Definimos un DataFrame para poder aplicar la función

In [0]:
df_rcas = df[df["ID Year"] == 2016][["Comuna", "HS0", "FOB US"]]
df_rcas.head()

       Comuna                         HS0       FOB US
0   Cartagena  Productos de Origen Animal   155358.000
1  Casablanca  Productos de Origen Animal   222165.000
2     Con Cón  Productos de Origen Animal  2200129.500
3    La Ligua  Productos de Origen Animal   100680.000
4   Llay Llay  Productos de Origen Animal  1056950.625

Pivotea el DataFrame para tener una sola comuna por fila y tantas columnas como clasificaciones HS0 para poder usar la función RCA

In [0]:
df_rcas = df_rcas.pivot(index="Comuna", columns="HS0", values="FOB US")
df_rcas.head()

HS0         Artículos de Madera  Calzado y Sombreros  ...      Textiles  Transporte
Comuna                                                ...
Algarrobo                   NaN                  NaN  ...           NaN      3000.0
Cabildo                     NaN                  NaN  ...           NaN         NaN
Calera                      NaN                  NaN  ...  2.728230e+05         NaN
Cartagena                   NaN                  NaN  ...           NaN         NaN
Casablanca                  NaN                  NaN  ...  7.963376e+06         NaN

[5 rows x 19 columns]

Generamos la Matriz de RCAs para cada comuna de Valparaíso en el 2016 y vemos los resultados

In [0]:
resultados = rca(df_rcas)
resultados

HS0            Artículos de Madera  Calzado y Sombreros  ...   Textiles  Transporte
Comuna                                                   ...
Algarrobo                 0.000000             0.000000  ...   0.000000    0.017216
Cabildo                   0.000000             0.000000  ...   0.000000    0.000000
Calera                    0.000000             0.000000  ...  18.308791    0.000000
Cartagena                 0.000000             0.000000  ...   0.000000    0.000000
Casablanca                0.000000             0.000000  ...   6.434440    0.000000
Con Cón                   0.016552             0.000000  ...   0.083625    0.010269
El Quisco                 0.000000             0.000000  ...   0.000000    0.000000
Hijuelas                  0.000000             0.000000  ...   0.000000    0.000000
La Cruz                   0.000000             0.000000  ...   0.000000    0.000000
La Ligua                  0.000000             0.000000  ...   2.548250    0.000000
Llay Llay                 0.000000             0.000000  ...   0.000000    0.000000
Los Andes                 0.000000             0.000000  ...   0.000000    6.339946
Nogales                   0.000000             0.000000  ...   0.000000    0.000000
Panquehue                 0.000000             0.000000  ...   0.000000    0.000000
Papudo                    0.000000             0.000000  ...   0.000000    0.000000
Petorca                   0.000000             0.000000  ...   0.000000    0.000000
Puchuncaví                0.000000             0.000000  ...   0.000000    0.000000
Putaendo                  0.000000             0.000000  ...   0.000000    0.000000
Quillota                  0.000000             0.000000  ...   0.000009    0.010447
Quintero                 15.866773             0.000000  ...   0.000000    0.304277
San Antonio               0.000000             0.000000  ...   0.000000    6.094151
San Esteban               0.000000             0.000000  ...   0.000000    0.000000
San Felipe                0.000000             0.000000  ...   0.000000    0.012914
Santa Maria               2.872352             0.000000  ...   0.000000    0.000000
Santo Domingo             0.000000             0.000000  ...   0.000000    0.000000
Valparaiso                6.902475             7.476948  ...   0.005298    0.566137
Viña Del Mar              0.000000             0.000000  ...   0.650488    0.006366

[27 rows x 19 columns]

Si nos hacemos la pregunta: 

¿En qué posee ventajas comparativas Viña del Mar?

Podremos responder revisando las categorías donde la RCA sea mayor a 1. Esas categorías son en las cuales Viña tiene ventajas comparativas en la V región:

In [0]:
vina = resultados.loc[["Viña Del Mar"]].melt().sort_values("value", ascending=False)
vina[vina["value"] >= 1]

                                            HS0      value
4                                       Metales  21.223699
11                           Productos Químicos  16.407515
3                                  Instrumentos   8.180991
6                                      Máquinas   6.317072
16  Productos derivados de animales y vegetales   6.147863
7                               Piedra Y Vidrio   1.765986
15                  Productos del reino vegetal   1.408353

Si repetimos el ejercicio para ver las ventajas comparativas de la comuna Valparaíso, tenemos

In [0]:
valpo=resultados.loc[["Valparaiso"]].melt().sort_values("value", ascending=False)
valpo[valpo["value"] >= 1]

                           HS0     value
1          Calzado y Sombreros  7.476948
8           Pieles de animales  7.473979
14          Productos de papel  7.365045
0          Artículos de Madera  6.902475
9          Plásticos y Cauchos  6.381435
2                      Diverso  6.291409
13  Productos de Origen Animal  5.341805
11          Productos Químicos  1.134833
3                 Instrumentos  1.130993

# Preguntas propuestas Taller:

Respecto las comunas seleccionadas:

  - Existen categorías comunes entre ellas
  - ¿Qué plan de especialización o fomento productivo sugeriría para ese par de comunas de la región?
  - De acuerdo a los niveles de RCA más altos, ¿Qué se puede decir del nivel de desarrollo tecnológico de esos sectores?